<button type="button" class="btn btn-primary" id="openNotiModalButton">
  <%= notificationList.length %> Notifications
</button>
<div class="modal notificationList" id="notificationListModal">
  <h2>New Notifications</h2>
  <nav>
    <ul class="notification-list" id="noteList">
      <% if (typeof notificationList !=='undefined' && notificationList.length> 0) { %>
        <% notificationList.forEach(notification=> { %>
          <li class="project-item">
            <div class="project-header">
              <span>Hi <%=userProfile.displayName %>, Would you like to join the project <%= notification.projectName %>
                    ?</span>
              <button class="btn btn-primary affirmativeButton notificationChoice" data-id="<%= notification._id %>">
                Yes </button>
              <button class="btn btn-primary negativeButton notificationChoice" data-id="<%= notification._id %>"> No
              </button>
              <div class="notification-actions">

              </div>
            </div>

          </li>
          <% }) %>
            <% } else { %>
              <li id='emptyList'>No notifications found</li>
              <% } %>
    </ul>
  </nav>
</div>